.mainBanner {
    animation-name: swing;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.aboutImg{
    animation-name: tada;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.team-member{
    width: 150px;
    height: 150px;
}